<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Khoa Pham</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h3>Admin page</h3>
        <form action="/admin/add" method="POST" >
            <input type="text" name="name" placeholder="Enter name">
            <br><br>
            <input type="text" name="image" placeholder="Enter image">
            <br><br>
            <input type="text" name="age" placeholder="Enter age">
            <br><br>
            <button>Add</button>
        </form>
    </body>
</html>