<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home EJS</title>
    <body>
        <h1>Khoa Pham Training</h1>

        <ul>
            <% mang.forEach(e => { %>
                <li>
                    <h3><%= e.name %></h3>
                    <p><%= e.age %></p>
                    <br><br>
                    <img src="images/<%= e.image %>"/>
                    <br><br>
                </li>
            <% }); %>
        </ul>

    </body>
</html>