<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home EJS</title>
    <body>
        <h1>Khoa Pham Training</h1>

        <ul>
            <% mang.forEach(hotGirl => { %>
                <%- include('./partials/row.ejs', { hotGirl }) %>
            <% }); %>
        </ul>
        <ul>
            <%- include('./partials/allRow.ejs') %>
        </ul>

    </body>
</html>